<!-- <div class="d-block d-sm-none fixed-bottom myMenu"></div> -->
<!-- Footer -->
<footer class="d-block d-sm-none fixed-bottom page-footer font-small mdb-color white myMenu" style="border-top: solid grey 0.005em;display: block;">
    <!-- Footer Elements -->
    <!-- <div class="container">   -->
      <!--Grid row-->
      <div class="row" style="margin:auto;width:100%;height:100%;">  
        <!--Grid column-->
        <div class="mt-2 pt-2 pd-2"  [ngStyle]="divStyle[0]" (click)="changeDivStyle(0)" routerLink="/account">
            <mdb-icon fas icon="user" size="3x" [ngStyle]="iconStyle[0]"></mdb-icon>
        </div>
        <!--Grid column-->  
        <!--Grid column-->
        <div class="mt-2 pt-2 pd-2"  [ngStyle]="divStyle[1]" (click)="changeDivStyle(1)" routerLink="/infos">  
            <mdb-icon fas icon="info-circle" size="3x" [ngStyle]="iconStyle[1]"></mdb-icon>
        </div>
        <!--Grid column-->  
        <!--Grid column-->
        <div class="mt-2 pt-2 pd-2" [ngStyle]="divStyle[2]" (click)="changeDivStyle(2)" routerLink="/main"> 
            <mdb-icon fas icon="th" size="3x" [ngStyle]="iconStyle[2]"></mdb-icon>
        </div>
        <!--Grid column-->  
        <!--Grid column-->
        <div class="mt-2 pt-2 pd-2" [ngStyle]="divStyle[3]" (click)="changeDivStyle(3)" routerLink="/events">  
            <mdb-icon fas icon="bell" size="3x" [ngStyle]="iconStyle[3]"></mdb-icon> 
        </div>
        <!--Grid column-->  
        <!--Grid column-->
        <div class="mt-2 pt-2 pd-2"  [ngStyle]="divStyle[4]" (click)="changeDivStyle(4)" routerLink="/messages">
            <button mdbBtn class="myButton" type="button" size="sm" color="red" position="top" mdbWavesEffect>42</button>
            
            <mdb-icon fas icon="comment-alt" size="3x" [ngStyle]="iconStyle[4]"></mdb-icon>
          <!-- <div><label style="color:#242464;font-size: 10px">Messages</label></div>            -->
        </div>
        <!--Grid column-->  
      </div>
      <!--Grid row-->  
    <!-- </div> -->
    <!-- Footer Elements -->  
  </footer>
  <!-- Footer -->