  <div class="container myContainer">    
    <app-notification></app-notification>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 myDiv" >        
          <app-transport></app-transport>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-5 col-5 myDiv2" >
        <app-forecast></app-forecast>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">              
          <img class="img-fluid myImg" src="../assets/imgs/lessons2.png">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11 col-11 myColumn myMargin">      
          <img class="img-fluid" src="../assets/imgs/map3.png">
      </div>
    </div>
</div>

