.myContainer {
    margin-top: 5em;margin-bottom:6em;
}

.myRow {
    margin-top: 0em;padding:1em;
}

.myColumn {
    margin-top:0em;padding:0;
}

.myImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.myDiv {
    margin-left:1em;
    border: solid #E4E0E0 0.1em;
    border-radius: 0.5em; 
    padding: 1em;
    margin-bottom:0.5em;
}

.myDiv2 {
border: solid #E4E0E0 0.1em;
border-radius: 0.5em; 
padding: 1em;
margin-bottom:0.5em;
}