<div #mess class="alert alert-secondary alert-dismissible fade myMessage" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeMessage()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{message}}
</div>