<div #notif class="alert alert-warning alert-dismissible fade myAlert" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeNotif()">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Breaking news ! </strong> {{message}}
</div>