<div class="dropdown" mdbDropdown>
  <a mdbDropdownToggle class="nav-link">
    <mdb-icon fas icon="ellipsis-v"></mdb-icon>
</a>          
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" routerLink="/account" (click)="resetBottomMenu('/account')">Mon compte</a>
    <a class="dropdown-item" routerLink="/main" (click)="resetBottomMenu('/main')">Applications</a>
  </div>
</div>