<!--Main Navigation-->
<header>
  <app-navigation></app-navigation>
</header>
<!--Main Navigation-->

<!--Main Layout-->
<app-message></app-message>
<router-outlet></router-outlet>
<!--Main Layout-->
  
<!-- Bottom menu appears on smaller screen -->
<app-bottom-menu></app-bottom-menu>
<!-- Bottom menu  -->

<!-- Footer disappears on smaller screen-->
<footer class="d-none d-sm-block page-footer font-small deep-purple darken-4 fixed-bottom" style="height: 5em">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 deep-purple darken-4">© 2019 Copyright :
    <a href="http://www.cue-aquitaine.fr/"> ComUE d'Aquitaine</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  
  