.myCenter {
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: auto;
    // margin-bottom: auto; 
    position: absolute;
    right: 0em;
    top:0.5em;
}

.myCenter2 {
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: auto;
    // margin-bottom: auto;    
    position: absolute;
    left: 0em;
    font-size:34px;
}

.myCenter3 {
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // margin-top: auto;
    // margin-bottom: auto;
    position: absolute;
    top: 3em;
    left: 0em;
    font-size:28px;
    font-size:16px;
}

.myDiv {
    padding: 0;
}

.myLocation {
    position: absolute;
    top: 7em;
    left: 1em;
}