<div class="container">
  <div class="row">
    <div class="col-5 col-sm-5 col-md-5 col-lg-12">
      <label class="myCenter2" >{{currentForecast.currentTemp}}</label>     
      <label class="myCenter3" >{{currentForecast.minTemp}}/{{currentForecast.maxTemp}}</label>      
    </div>
    <div class="col-7 col-sm-7 col-md-7 col-lg-12" >   
      <div class="row">   
        <img class="img-fluid myCenter" src="../assets/imgs/forecast.png" >    
      </div>  
    </div>        
  </div>
    <tr class="myTr"></tr>
      <tr class="myLocation">
        <th scope="row" ><img class="img-fluid" src="../assets/imgs/forecast-geo.png"></th>
        <td class="myTd">{{currentForecast.location}}</td>
      </tr>
</div>
