<div class="container myContainer">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <img class="img-fluid myImg" src="../assets/imgs/main1.png">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <img class="img-fluid myImg" src="../assets/imgs/main2.png">
    </div>
  </div>
</div>