<div class="container myContainer">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5">
        <img class="img-fluid myImg" src="../assets/imgs/account1.png">
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <img class="img-fluid myImg" src="../assets/imgs/account2.png">
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <img class="img-fluid myImg" src="../assets/imgs/account3.png">
      </div>
    </div>
</div>