/* You can add global styles to this file, and also import other style files */
img {
    // max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 1200px) {

    .myTr {
        height:2em;
    }
    .myTd {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .myMargin {
        margin-left:1em;
    }
    .myTr {
        height:1em;
    }
    .myTd {
        font-size: 12px;
    }
}

   