<div class="container" style="padding: 0">
    <table>
      <tr>
      <th scope="row" ><mdb-icon class="myIcon" fas icon="subway" size="2x"></mdb-icon></th>
          <td class="myTd">{{currentTransport.home1}}</td>
          <td class="myTd">{{currentTransport.home2}}</td>
          <td class="myTd">{{currentTransport.home3}}</td>
        </tr>
        
        <tr >
            <th scope="row"></th>
                <td><mdb-icon class="myIcon2" fas size="2x" icon="chevron-down"></mdb-icon></td>
                <td><mdb-icon class="myIcon2" fas size="2x" icon="chevron-down"></mdb-icon></td>
                <td><mdb-icon class="myIcon2" fas size="2x" icon="chevron-down"></mdb-icon></td>
              </tr>
          <tr>
      <th scope="row"><mdb-icon class="myIcon" fas icon="home" size="2x"></mdb-icon></th>
          <td class="myTd" ><label style="margin-top:0.5em;color: green">{{currentTransport.tram1}}</label></td>
          <td class="myTd"><label style="margin-top:0.5em;color: red">{{currentTransport.tram2}}</label></td>
          <td class="myTd"><label style="margin-top:0.5em;color: orange">{{currentTransport.tram3}}</label></td>
        </tr>
        <tr class="myTr"></tr>
          <tr>
      <th scope="row"><mdb-icon class="myIcon" fas icon="bicycle" size="2x"></mdb-icon></th>
          <td class="myTd"><label style="margin-top:0.5em;color: orange">{{currentTransport.bike}}</label></td>
          </tr>
      </table>
  </div>