<nav class="navbar fixed-top navbar-expand-sm navbar-dark deep-purple darken-4 scrolling-navbar">
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand myBrand" routerLink="/home" (click)="resetBottomMenu('/home')"><strong>ComUE d'Aquitaine</strong></a>  
    <!-- New item positionning on nav bar open -->
    <ul class="navbar-nav nav-flex-icons" *ngIf="showNavbar">
        <li class="nav-item">
          <a class="nav-link "><mdb-icon fas icon="barcode"></mdb-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><mdb-icon fas icon="search"></mdb-icon></a>
        </li>
        <li class="nav-item">         
          <app-dropdown-menu></app-dropdown-menu>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': showNavbar }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let customClass of customClasses" [ngClass]="customClass.class">
          <a class="nav-link" [routerLink]="customClass.link" (click)="activeMenuItem(customClass)">{{customClass.menu}}</a>
        </li>
      </ul>
    </div>     
    <ul class="navbar-nav nav-flex-icons" *ngIf="!showNavbar">
      <li class="nav-item">
        <a class="nav-link "><mdb-icon fas icon="barcode"></mdb-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><mdb-icon fas icon="search"></mdb-icon></a>
      </li>
      <li class="nav-item">
        <app-dropdown-menu></app-dropdown-menu>
      </li>
    </ul>
  </nav>
